{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>TechTest - {% block title %}{% endblock %}</title>

    <!-- META SECTION -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- EOF CSS INCLUDE -->
    {% block extra_style %}{% endblock %}
</head>
<body>

<!-- APP WRAPPER -->
<div class="app">

    <!-- START APP CONTAINER -->
    <div class="app-container">
        <!-- START SIDEBAR -->
        <div class="app-sidebar app-navigation  app-navigation-fixed app-navigation-style-default dir-left"
             data-type="close-other">
            <a href="" class="app-navigation-logo">
            </a>
            <nav>
                {% include 'base/navigation.html' %}
            </nav>
        </div>
        <!-- END SIDEBAR -->

        <!-- START APP CONTENT -->
        <div class="app-content app-sidebar-left">
            <!-- START APP HEADER -->
            <div class="app-header">
                <ul class="app-header-buttons">
                    <li class="visible-mobile"><a href="#" class="btn btn-link btn-icon"
                                                  data-sidebar-toggle=".app-sidebar.dir-left"><span
                            class="icon-menu"></span></a></li>
                    <li class="hidden-mobile"><a href="#" class="btn btn-link btn-icon"
                                                 data-sidebar-minimize=".app-sidebar.dir-left"><span
                            class="icon-list"></span></a></li>
                </ul>
                <form class="app-header-search" action="" method="post">
                    <input type="text" name="keyword" placeholder="Search">
                </form>
                <ul class="app-header-buttons pull-right">
                    <li>
                        <div class="contact contact-rounded contact-bordered contact-lg contact-ps-controls">
                            <img src="{% static 'assets/images/users/user_1.jpg' %}" alt="John Doe">
                            <div class="contact-container">
                                <a href="#">{{ request.user.username }}</a>
                                <span>{% if request.user.is_superuser %}Administrator{% endif %}</span>
                            </div>
                            <div class="contact-controls">
                                <div class="dropdown">
                                    <button type="button" class="btn btn-default btn-icon" data-toggle="dropdown"><span
                                            class="icon-cog"></span></button>
                                    <ul class="dropdown-menu dropdown-left">
                                        <li><a href="{% url 'account:logout' %}"><span class="icon-exit"></span> Log Out</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- END APP HEADER  -->

            <!-- START PAGE HEADING -->
            <div class="app-heading app-heading-bordered app-heading-page">
                {% block page_title %}
                {% endblock %}
            </div>
            <div class="app-heading-container app-heading-bordered bottom">
                <ul class="breadcrumb">
                    {% block bread_crumb %}{% endblock %}
                </ul>
            </div>
            <!-- END PAGE HEADING -->

            <!-- START PAGE CONTAINER -->
            <div class="container">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <div class="alert alert-danger alert-icon-block alert-dismissible" role="alert">
                                <div class="alert-icon">
                                    <span class="icon-menu-circle"></span>
                                </div>
                                <strong>Error!</strong> {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        class="fa fa-times"></span></button>
                            </div>
                        {% elif message.tags == 'success' %}
                            <div class="alert alert-success alert-icon-block alert-dismissible" role="alert">
                                <div class="alert-icon">
                                    <span class="icon-checkmark-circle"></span>
                                </div>
                                <strong>Success!</strong> {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        class="fa fa-times"></span></button>
                            </div>
                        {% elif message.tags == 'warning' %}
                            <div class="alert alert-warning alert-icon-block alert-dismissible" role="alert">
                                <div class="alert-icon">
                                    <span class="icon-chart-bars"></span>
                                </div>
                                <strong>Warning!</strong> {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        class="fa fa-times"></span></button>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% block content %}{% endblock %}

            </div>
            <!-- END PAGE CONTAINER -->
            <input type="hidden" id="req-path" value="{{ request.path }}">
        </div>
        <!-- END APP CONTENT -->

    </div>
    <!-- END APP CONTAINER -->

</div>
<!-- END APP WRAPPER -->

<!-- START SCRIPTS -->
<script type="text/javascript" src="{% static 'js/vendor/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/jquery/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/bootstrap/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/moment/moment.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/vendor/customscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/bootstrap-select/bootstrap-select.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/select2/select2.full.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'js/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.js' %}"></script>

<script type="text/javascript" src="{% static 'js/vendor/maskedinput/jquery.maskedinput.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/form-validator/jquery.form-validator.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/vendor/noty/jquery.noty.packaged.js' %}"></script>

<script type="text/javascript" src="{% static 'js/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/datatables/dataTables.bootstrap.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/vendor/sweetalert/sweetalert.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/knob/jquery.knob.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/vendor/jvectormap/jquery-jvectormap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/jvectormap/jquery-jvectormap-us-aea-en.js' %}"></script>

<script type="text/javascript" src="{% static 'js/vendor/sparkline/jquery.sparkline.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/vendor/morris/raphael.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/morris/morris.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/vendor/rickshaw/d3.v3.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/rickshaw/rickshaw.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/vendor/isotope/isotope.pkgd.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/vendor/dropzone/dropzone.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/nestable/jquery.nestable.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/cropper/cropper.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/vendor/tableexport/tableExport.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/tableexport/jquery.base64.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/tableexport/html2canvas.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/tableexport/jspdf/libs/sprintf.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/tableexport/jspdf/jspdf.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/tableexport/jspdf/libs/base64.js' %}"></script>

<script type="text/javascript" src="{% static 'js/vendor/bootstrap-daterange/daterangepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/bootstrap-tour/bootstrap-tour.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/fullcalendar/fullcalendar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/smartwizard/jquery.smartWizard.js' %}"></script>

<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app_plugins.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app_demo.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-validate.min.js' %}"></script>
<!-- END SCRIPTS -->
{% block extra_script %}{% endblock %}
<script type="text/javascript">
    {# Set selected link as active in navigation list #}
    var url = $('#req-path').val();
    var anchor = $('a[href="' + url + '"]');
    anchor.addClass('active');
    anchor.closest('.has-children').addClass('open');
</script>
</body>
</html>